.searchRow {
  height: 100vh;
  transition: all 0.2s ease-in;
}

.searchInput {
  flex-grow: 2;
}

.searchRow_used {
  height: 10vh;
  transform: translateY(0%);
}

.searchRow_not-used {
  transform: translateY(0%);
}

.header {
  display: flex;
  align-items: center;
}
